.topic {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 300px;
}

.topic-content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.number {
  display: inline-block;
  width: 2ch; /* ch單位用來表示字元寬度，2ch確保佔兩個字元空間 */
  text-align: right; /* 使數字靠右對齊 */
}

.userAnswer {
  width: 50px;
}

.question-content{
  padding-left: 10px;
}